# Toyota Corolla Price Prediction â€” Multiple Linear Regression


This notebook performs EDA, preprocessing, builds three MLR models, evaluates them, applies Lasso & Ridge, interprets coefficients, and includes interview answers & assumptions.

In [1]:
# Imports
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import statsmodels.api as sm
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.linear_model import LinearRegression, Lasso, Ridge
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import r2_score, mean_squared_error, mean_absolute_error
from sklearn.feature_selection import RFE
import warnings
warnings.filterwarnings('ignore')

In [2]:
# Load dataset 
df = pd.read_csv("ToyotaCorolla - MLR.csv")
# Standardize column names
df.columns = [c.strip() for c in df.columns]
# Rename known columns
if 'Age_08_04' in df.columns:
    df = df.rename(columns={'Age_08_04':'Age'})
if 'Fuel_Type' in df.columns:
    df = df.rename(columns={'Fuel_Type':'FuelType'})
if 'cc' in df.columns:
    df = df.rename(columns={'cc':'CC'})
print('Columns:', df.columns.tolist())
df.head()

Columns: ['Price', 'Age', 'KM', 'FuelType', 'HP', 'Automatic', 'CC', 'Doors', 'Cylinders', 'Gears', 'Weight']

,Price,Age,KM,FuelType,HP,Automatic,CC,Doors,Cylinders,Gears,Weight
0,13500,23,46986,Diesel,90,0,2000,3,4,5,1165
1,13750,23,72937,Diesel,90,0,2000,3,4,5,1165
2,13950,24,41711,Diesel,90,0,2000,3,4,5,1165
3,14950,26,48000,Diesel,90,0,2000,3,4,5,1165
4,13750,30,38500,Diesel,90,0,2000,3,4,5,1170

In [3]:
# Basic EDA
print('Shape:', df.shape)
display(df.describe())
print('\nMissing values per column:\n', df.isnull().sum())

# Correlations with Price
if 'Price' in df.columns:
    corr = df.corr(numeric_only=True)
    print(corr['Price'].sort_values(ascending=False))

Shape: (1436, 11)

,Price,Age,KM,HP,Automatic,CC,Doors,Cylinders,Gears,Weight
count,1436.000000,1436.000000,1436.000000,1436.000000,1436.000000,1436.00000,1436.000000,1436.0,1436.000000,1436.00000
mean,10730.824513,55.947075,68533.259749,101.502089,0.055710,1576.85585,4.033426,4.0,5.026462,1072.45961
std,3626.964585,18.599988,37506.448872,14.981080,0.229441,424.38677,0.952677,0.0,0.188510,52.64112
min,4350.000000,1.000000,1.000000,69.000000,0.000000,1300.00000,2.000000,4.0,3.000000,1000.00000
25%,8450.000000,44.000000,43000.000000,90.000000,0.000000,1400.00000,3.000000,4.0,5.000000,1040.00000
50%,9900.000000,61.000000,63389.500000,110.000000,0.000000,1600.00000,4.000000,4.0,5.000000,1070.00000
75%,11950.000000,70.000000,87020.750000,110.000000,0.000000,1600.00000,5.000000,4.0,5.000000,1085.00000
max,32500.000000,80.000000,243000.000000,192.000000,1.000000,16000.00000,5.000000,4.0,6.000000,1615.00000

Missing values per column:
 Price        0
Age          0
KM           0
FuelType     0
HP           0
Automatic    0
CC           0
Doors        0
Cylinders    0
Gears        0
Weight       0
dtype: int64
Price        1.000000
Weight       0.581198
HP           0.314990
Doors        0.185326
CC           0.126389
Gears        0.063104
Automatic    0.033081
KM          -0.569960
Age         -0.876590
Cylinders         NaN
Name: Price, dtype: float64

In [4]:
# Preprocessing
# Map Automatic if 'Yes'/'No'
if 'Automatic' in df.columns and df['Automatic'].dtype == object:
    df['Automatic'] = df['Automatic'].map({'Yes':1,'No':0})

# One-hot encode FuelType (if present)
if 'FuelType' in df.columns:
    df = pd.concat([df.drop(columns=['FuelType']), pd.get_dummies(df['FuelType'], prefix='Fuel', drop_first=True)], axis=1)

# Ensure Doors numeric when string like '4' or '4.0'
if 'Doors' in df.columns and df['Doors'].dtype == object:
    df['Doors'] = df['Doors'].str.extract('(\\d+)').astype(float)

# Drop rows with NA (dataset is complete in this case)
df = df.dropna().reset_index(drop=True)
print('After preprocessing shape:', df.shape)
df.head()

After preprocessing shape: (1436, 12)

,Price,Age,KM,HP,Automatic,CC,Doors,Cylinders,Gears,Weight,Fuel_Diesel,Fuel_Petrol
0,13500,23,46986,90,0,2000,3,4,5,1165,True,False
1,13750,23,72937,90,0,2000,3,4,5,1165,True,False
2,13950,24,41711,90,0,2000,3,4,5,1165,True,False
3,14950,26,48000,90,0,2000,3,4,5,1165,True,False
4,13750,30,38500,90,0,2000,3,4,5,1170,True,False

In [5]:
# Features and target
X = df.drop(columns=['Price'])
y = df['Price']
print('Features used:', X.columns.tolist())

# Train-test split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20, random_state=42)
print('Train shape:', X_train.shape, 'Test shape:', X_test.shape)

Features used: ['Age', 'KM', 'HP', 'Automatic', 'CC', 'Doors', 'Cylinders', 'Gears', 'Weight', 'Fuel_Diesel', 'Fuel_Petrol']
Train shape: (1148, 11) Test shape: (288, 11)

In [6]:
# ===== Final robust OLS run: force numeric ndarrays for statsmodels =====
import numpy as np
import pandas as pd
import statsmodels.api as sm

# quick check
print("Before conversion dtypes:")
print(X_train.dtypes)
print("\ny_train dtype:", y_train.dtype)
print("\nSample X_train head:")
display(X_train.head())

# Convert boolean columns to int (so pandas doesn't use nullable bool types)
for c in X_train.columns:
    if X_train[c].dtype == 'bool' or X_train[c].dtype.name == 'boolean':
        X_train[c] = X_train[c].astype(int)
        X_test[c]  = X_test[c].astype(int)

# Force all feature columns to float
X_train_num = X_train.apply(pd.to_numeric, errors='coerce').astype(float)
X_test_num  = X_test.apply(pd.to_numeric, errors='coerce').astype(float)

# Force target to numeric float as well
y_train_num = pd.to_numeric(y_train, errors='coerce').astype(float)
y_test_num  = pd.to_numeric(y_test, errors='coerce').astype(float)

# Check for any NaNs introduced by coercion
nans_train = X_train_num.isna().any().sum() + y_train_num.isna().sum()
nans_test  = X_test_num.isna().any().sum() + y_test_num.isna().sum()
print(f"NaNs introduced? train cols with NaN count + NaN in y: {nans_train}, test: {nans_test}")

# If any NaNs exist, drop affected rows (safe for this dataset)
if X_train_num.isna().any().any() or y_train_num.isna().any():
    mask_tr = (~X_train_num.isna().any(axis=1)) & (~y_train_num.isna())
    X_train_num = X_train_num.loc[mask_tr].copy()
    y_train_num = y_train_num.loc[mask_tr].copy()
    print("Dropped some train rows due to NaN coercion. New train shape:", X_train_num.shape)

if X_test_num.isna().any().any() or y_test_num.isna().any():
    mask_te = (~X_test_num.isna().any(axis=1)) & (~y_test_num.isna())
    X_test_num = X_test_num.loc[mask_te].copy()
    y_test_num = y_test_num.loc[mask_te].copy()
    print("Dropped some test rows due to NaN coercion. New test shape:", X_test_num.shape)

# Convert to numpy arrays (explicit)
X_train_arr = np.asarray(X_train_num, dtype=float)
X_test_arr  = np.asarray(X_test_num, dtype=float)
y_train_arr = np.asarray(y_train_num, dtype=float)
y_test_arr  = np.asarray(y_test_num, dtype=float)

print("Numpy dtypes:", X_train_arr.dtype, y_train_arr.dtype)
print("Shapes:", X_train_arr.shape, X_test_arr.shape, y_train_arr.shape, y_test_arr.shape)

# Add constant column to the numpy matrix (statsmodels accepts numpy arrays)
X_train_sm = sm.add_constant(X_train_arr, has_constant='add')

# Fit OLS
ols_all = sm.OLS(y_train_arr, X_train_sm).fit()
print(ols_all.summary())


X_train = pd.DataFrame(X_train_arr, columns=X_train_num.columns, index=X_train_num.index)
X_test  = pd.DataFrame(X_test_arr,  columns=X_test_num.columns,  index=X_test_num.index)
y_train = pd.Series(y_train_arr, index=y_train_num.index, name='Price')
y_test  = pd.Series(y_test_arr,  index=y_test_num.index,  name='Price')

Before conversion dtypes:
Age            int64
KM             int64
HP             int64
Automatic      int64
CC             int64
Doors          int64
Cylinders      int64
Gears          int64
Weight         int64
Fuel_Diesel     bool
Fuel_Petrol     bool
dtype: object

y_train dtype: int64

Sample X_train head:

,Age,KM,HP,Automatic,CC,Doors,Cylinders,Gears,Weight,Fuel_Diesel,Fuel_Petrol
899,62,59295,86,0,1300,5,4,5,1035,False,True
881,68,61568,110,0,1600,4,4,5,1035,False,True
310,40,38653,110,0,1600,5,4,5,1080,False,True
1145,75,101855,110,0,1600,5,4,5,1070,False,True
31,22,35199,97,0,1400,3,4,5,1100,False,True

NaNs introduced? train cols with NaN count + NaN in y: 0, test: 0
Numpy dtypes: float64 float64
Shapes: (1148, 11) (288, 11) (1148,) (288,)
                            OLS Regression Results
==============================================================================
Dep. Variable:                      y   R-squared:                       0.870
Model:                            OLS   Adj. R-squared:                  0.869
Method:                 Least Squares   F-statistic:                     762.7
Date:                Sat, 22 Nov 2025   Prob (F-statistic):               0.00
Time:                        21:54:54   Log-Likelihood:                -9863.2
No. Observations:                1148   AIC:                         1.975e+04
Df Residuals:                    1137   BIC:                         1.980e+04
Df Model:                          10
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const       -838.5521    103.023     -8.139      0.000   -1040.689    -636.416
x1          -120.8305      2.887    -41.859      0.000    -126.494    -115.167
x2            -0.0162      0.001    -11.053      0.000      -0.019      -0.013
x3            14.0395      4.027      3.486      0.001       6.138      21.941
x4           148.8309    177.194      0.840      0.401    -198.833     496.495
x5            -0.0304      0.091     -0.335      0.737      -0.208       0.147
x6           -60.3110     44.951     -1.342      0.180    -148.506      27.884
x7         -3354.2085    412.092     -8.139      0.000   -4162.754   -2545.663
x8           551.6007    206.048      2.677      0.008     147.324     955.877
x9            25.8850      1.497     17.295      0.000      22.948      28.821
x10          -68.5488    391.632     -0.175      0.861    -836.952     699.854
x11         1370.8089    335.967      4.080      0.000     711.624    2029.993
==============================================================================
Omnibus:                      212.816   Durbin-Watson:                   2.035
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             2408.915
Skew:                          -0.492   Prob(JB):                         0.00
Kurtosis:                      10.028   Cond. No.                     2.85e+19
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 8.73e-27. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.

In [7]:
# Rebuild p-values with column names
feature_names = ['const'] + X_train.columns.tolist()   # names from your cleaned X_train dataframe
pvals_series = pd.Series(ols_all.pvalues, index=feature_names)

# Drop the constant
pvals_no_const = pvals_series.drop('const')

# Find weakest feature (highest p-value)
weakest_feature = pvals_no_const.sort_values(ascending=False).index[0]
print("Weakest feature:", weakest_feature)

# Build Model 2 using sklearn
from sklearn.linear_model import LinearRegression

X_train_m2 = X_train.drop(columns=[weakest_feature])
X_test_m2  = X_test.drop(columns=[weakest_feature])

lr2 = LinearRegression().fit(X_train_m2, y_train)
print("Model 2 trained successfully.")

Weakest feature: Fuel_Diesel
Model 2 trained successfully.

In [8]:
# Model 3: RFE-selected features (demonstration)
k = min(5, max(3, int(len(X_train.columns)/2)))
rfe = RFE(LinearRegression(), n_features_to_select=k)
rfe.fit(X_train, y_train)
selected_features = [f for f, s in zip(X_train.columns, rfe.support_) if s]
print('RFE selected features:', selected_features)

X_train_m3 = X_train[selected_features]
X_test_m3 = X_test[selected_features]
lr3 = LinearRegression().fit(X_train_m3, y_train)

RFE selected features: ['Automatic', 'Doors', 'Gears', 'Fuel_Diesel', 'Fuel_Petrol']

In [9]:
# Fit Model1 using sklearn and evaluate all models
lr1 = LinearRegression().fit(X_train, y_train)

def evaluate(model, Xte, yte):
    preds = model.predict(Xte)
    r2 = r2_score(yte, preds)
    mse = mean_squared_error(yte, preds)
    rmse = np.sqrt(mse)
    mae = mean_absolute_error(yte, preds)
    return {'r2':r2,'mse':mse,'rmse':rmse,'mae':mae, 'preds':preds}

res1 = evaluate(lr1, X_test, y_test)
res2 = evaluate(lr2, X_test_m2, y_test)
res3 = evaluate(lr3, X_test_m3, y_test)

import pandas as pd
results = pd.DataFrame([
    {'model':'Model 1 (All)', **res1},
    {'model':f'Model 2 (drop {weakest_feature})', **res2},
    {'model':f'Model 3 (RFE top {k})', **res3},
])
results[['model','r2','mse','rmse','mae']]

,model,r2,mse,rmse,mae
0,Model 1 (All),0.834889,2.203044e+06,1484.265415,990.887274
1,Model 2 (drop Fuel_Diesel),0.835262,2.198060e+06,1482.585606,991.018862
2,Model 3 (RFE top 5),0.074279,1.235170e+07,3514.498420,2518.303943

In [10]:
# Coefficients for Model 1 (all features)
coef_df1 = pd.DataFrame({'feature': X_train.columns, 'coef': lr1.coef_}).sort_values(by='coef', key=abs, ascending=False)
display(coef_df1)

# Show key coefficient interpretations
for feat in ['Age','KM','Weight','HP']:
    if feat in coef_df1['feature'].values:
        c = float(coef_df1.loc[coef_df1['feature']==feat,'coef'])
        print(f"{feat}: coef = {c:.3f}")

        feature          coef
10  Fuel_Petrol  1.370809e+03
7         Gears  5.516007e+02
3     Automatic  1.488309e+02
0           Age -1.208305e+02
9   Fuel_Diesel -6.854876e+01
5         Doors -6.031097e+01
8        Weight  2.588496e+01
2            HP  1.403948e+01
4            CC -3.037219e-02
1            KM -1.623141e-02
6     Cylinders  1.250555e-12

Age: coef = -120.830
KM: coef = -0.016
Weight: coef = 25.885
HP: coef = 14.039

In [11]:
# Lasso & Ridge (with scaling) - Grid search for alpha
scaler = StandardScaler()
X_train_s = scaler.fit_transform(X_train)
X_test_s = scaler.transform(X_test)

from sklearn.model_selection import GridSearchCV
gs_lasso = GridSearchCV(Lasso(max_iter=10000), {'alpha':[0.0001,0.001,0.01,0.1,1,10,50,100]}, cv=5, scoring='r2')
gs_ridge = GridSearchCV(Ridge(max_iter=10000), {'alpha':[0.0001,0.001,0.01,0.1,1,10,50,100]}, cv=5, scoring='r2')

gs_lasso.fit(X_train_s, y_train)
gs_ridge.fit(X_train_s, y_train)
best_lasso = gs_lasso.best_estimator_; best_ridge = gs_ridge.best_estimator_
print('Best Lasso alpha:', gs_lasso.best_params_)
print('Best Ridge alpha:', gs_ridge.best_params_)

res_lasso = evaluate(best_lasso, X_test_s, y_test)
res_ridge = evaluate(best_ridge, X_test_s, y_test)
print('\nLasso performance:', res_lasso)
print('Ridge performance:', res_ridge)

# Coefficients
lasso_coefs = pd.DataFrame({'feature': X_train.columns, 'coef': best_lasso.coef_}).sort_values(by='coef', key=abs, ascending=False)
ridge_coefs = pd.DataFrame({'feature': X_train.columns, 'coef': best_ridge.coef_}).sort_values(by='coef', key=abs, ascending=False)
display(lasso_coefs.head(10))
display(ridge_coefs.head(10))

Best Lasso alpha: {'alpha': 50}
Best Ridge alpha: {'alpha': 100}

Lasso performance: {'r2': 0.8425843609224032, 'mse': np.float64(2100363.6329087433), 'rmse': np.float64(1449.2631344613521), 'mae': np.float64(994.2263372986542), 'preds': array([11184.93358498,  8948.07997258,  9437.39060219,  9001.42646192,
       10120.87597079,  7955.67674895,  8738.67716457,  8264.4881506 ,
       14081.34583757, 13118.74225552,  9522.50947077,  9311.04785463,
       12947.2016958 , 12960.31366539,  9760.03164866,  8339.95399469,
       12219.00488784, 17398.25215504,  7434.00597388,  9203.39319588,
       12658.35987054, 17692.26575901,  7889.35357539, 10427.01304356,
        7649.07338029, 15959.92006728,  9869.13689778,  7380.41578936,
       15634.35167205, 14472.31977339,  8154.45497504,  9779.09687256,
        8563.95980505, 10087.36743016, 10239.71766981,  8050.07363727,
        8856.00120388,  9954.92606659, 16334.58040536,  9630.30380734,
        9829.6175054 ,  9501.56968221,  7940.21249723,  5688.66940854,
        6903.78543285, 17101.04585794,  9431.85917565, 10726.8384088 ,
        8788.55912749, 13454.83340917, 12924.24268625,  6435.3320351 ,
       14925.00748571, 16146.17053746,  6197.84605319,  7825.96832583,
       10350.05006556, 10676.86822702, 16013.53752338, 18560.85641134,
       12689.16404572,  8093.91084989,  7905.8507561 , 11024.24545365,
       13379.0637758 ,  8949.94804008, 12889.21202048,  7631.53111747,
        8364.98518107, 10605.85440913, 19473.30317135, 11257.57339652,
       12846.84364723,  7344.22137241, 18635.65301647, 13912.11454507,
        7861.14591956,  7728.42342666,  9859.40713384,  9098.73921357,
       10382.01051613,  8693.00933781, 10550.89798716, 10766.87438712,
        7537.43214463,  6389.25499197, 11250.42732495, 13020.71758697,
        9568.37353502, 10863.70687025,  7592.53519673,  6842.89917367,
       10482.61968408, 10904.02416718, 12714.63544866,  9331.83739956,
       21230.31726129,  7980.72017761, 13953.47747808,  8972.13057644,
       10617.08747889,  9591.8645362 , 10579.47080033, 16657.23381052,
        8692.84444054,  7715.46177044, 16627.08428421,  7730.1356804 ,
        9640.08229138,  8309.9627642 , 11713.52161532, 10600.74551911,
        9693.51011349, 13717.76031088,  9491.42478051,  8341.86603955,
        6648.48432834, 13367.00806068, 12424.74995364, 13991.73992993,
        8030.1970661 ,  7560.50761189,  8368.56594867, 15254.36354229,
       11627.55374911,  8796.84471655, 13026.73291377,  9192.99402354,
        8547.12215843, 12351.37460795, 11255.0512752 , 15523.27816048,
       10599.70657078,  9422.55542443,  6613.18560825,  9554.59986764,
       10399.18386281, 11519.11205289,  8307.91492508,  5376.307294  ,
       12357.14326722, 10624.46205428, 12504.81039563,  8485.47418658,
       12232.97341595, 11234.47843905,  7279.97100034,  8647.2478627 ,
        8623.44939643, 11156.2862921 , 10383.47141939, 15994.82361715,
        8425.41106224,  9001.58928785, 11178.48942682, 10983.71642794,
        8916.66111679, 13365.73564914,  9654.31602791, 19158.33806036,
       11245.62535644, 15615.74190796, 15398.65649352,  7830.31061061,
        8928.10332791, 12652.43396002,  7927.97623292, 13544.15642803,
        8043.37588496,  7693.18415697,  8238.97062771, 12281.14301752,
        9380.52305489, 12805.74659746, 10321.54939176,  9659.39654688,
       16698.15058248, 10729.99670026,  9766.57247219, 10745.08029119,
       12207.5524327 , 11021.41994719, 13652.96432818,  8141.37810361,
        9310.56635468,  7453.30191709,  6084.71778495,  8327.76866841,
        9748.363358  , 10759.66698543,  9064.50069405,  7383.03600201,
        6375.87703522, 11191.00110066, 10429.38351247, 10993.92884866,
        6957.87919646,  7268.26265772,  9960.56751592, 17870.71775798,
        9196.92524758,  7811.48617139,  7100.77018755,  8881.36263246,
       16030.64892119, 17052.18311433, 10790.92254659, 10127.59639803,
       10797.64200914,  9259.53059508,  9224.31726052, 11165.46134105,
        9871.38898068, 10081.6771475 ,  7049.99317927, 11645.04916326,
        8062.13069013,  9284.74213387,  7282.43648869, 11734.00001805,
        8654.47282919, 10541.71817387, 10619.76540944, 10340.16588638,
       17443.66441268,  6674.67100373, 16003.25876228,  7564.06897975,
       13217.96846081,  7514.5541304 , 12287.11315496,  9623.61200789,
       26748.51983728,  7890.09108609,  9394.26305756,  8352.3412877 ,
       13803.61635893, 13236.00748625, 10074.16600545,  8583.17243406,
       13877.93924614, 19055.71687309, 13194.24730845,  9651.85356474,
       20151.61940153,  9742.57808774,  9193.73032965,  9918.25059604,
        9852.35236276,  9257.33045315,  8707.14758032, 10443.1020976 ,
        8527.44972124,  5721.84580015, 10552.35430344, 10789.41539764,
        6637.72088931,  9926.7194023 , 13357.71428793, 11045.41856859,
       12858.29433542,  6992.89989865,  6192.42157917, 10524.52274804,
        6720.54988203, 12521.52789024, 13332.42629082,  5294.91925963,
        8826.09640786,  8151.06628453, 13198.24970167, 15541.9718806 ,
        6722.91751148, 13522.22620684,  7870.90967456,  7302.19578275,
        8342.29415708,  7913.39793296,  6405.91712274, 24591.25712122,
       22454.31650519, 10252.54744654,  7299.12721293, 19035.28457184,
        8071.81458036, 13532.47782115, 10674.71072974, 10647.2192167 ])}
Ridge performance: {'r2': 0.8416775069598965, 'mse': np.float64(2112463.5938425455), 'rmse': np.float64(1453.431661222001), 'mae': np.float64(993.7386431587624), 'preds': array([11185.72738366,  9024.46012666,  9358.58124764,  9121.43502263,
       10221.45292012,  8123.22156433,  8807.27564549,  8470.924888  ,
       13886.65991167, 13064.44313311,  9575.44546632,  9436.38288401,
       12858.74522481, 12811.76604801,  9764.48576206,  8375.43379693,
       12074.15507994, 17078.77924324,  7450.67363146,  9350.64178736,
       12528.18753052, 17415.94838849,  8082.13506586, 10429.26151785,
        7638.82582823, 15795.73777401,  9984.1388045 ,  7415.77511655,
       15415.11937851, 14330.36600705,  8268.29236238,  9849.08699124,
        8728.64389019, 10099.02998321, 10271.92828607,  8186.77330892,
        8903.48303245,  9974.64532723, 16054.27315188,  9586.95664863,
        9910.19467025,  9589.74094262,  8124.44771842,  5625.75609456,
        7004.75949398, 16812.79962266,  9484.70872767, 10727.70675607,
        8832.70486253, 13419.94461019, 12862.9940241 ,  6602.72190371,
       14661.94237964, 16014.75925388,  6177.68776901,  7968.87541185,
       10339.84417405, 10746.94766043, 15863.73027788, 18727.00424297,
       12499.16730456,  8047.32783795,  7986.15793556, 10847.84912125,
       13245.17586952,  8963.71996646, 12726.74459085,  7648.92016738,
        8362.72109633, 10681.98900212, 19711.18427817, 11133.68835495,
       12768.01242369,  7576.59739719, 18347.02848282, 13694.60374339,
        8016.44526208,  7780.41550451,  9862.66761479,  9320.65248487,
       10388.2097664 ,  8723.96612058, 10428.74303113, 10766.50632261,
        7640.65152995,  6472.67152025, 11506.64343107, 12942.17648717,
        9613.71572007, 10782.1609157 ,  7633.84722502,  6831.98293445,
       10495.7522618 , 10961.85327881, 12683.59163799,  9403.752432  ,
       20990.32268796,  8157.71265195, 13908.08397177,  8840.31484518,
       10777.95416593,  9776.60918155, 10548.36859824, 16369.11213238,
        8931.13565543,  7796.01003867, 16333.19891377,  7890.72361188,
        9794.38965385,  8390.73954721, 11717.86980406, 10366.40244879,
        9802.1108241 , 13655.47329396,  9584.86397726,  8284.94640346,
        6689.10536281, 13309.25290587, 12618.3033864 , 13784.96851038,
        8096.97093216,  7590.15402188,  8407.90475526, 15036.44994071,
       11532.52792862,  8762.92555382, 12993.58051261,  9082.90712232,
        8621.26275697, 12116.36697638, 11091.126808  , 15289.57219174,
       10843.15755605,  9099.78855143,  6726.80452065,  9799.54671826,
       10419.02214587, 11622.959838  ,  8526.84501698,  5136.20828456,
       12515.65874192, 10905.54916659, 12356.68690723,  8646.71606937,
       12214.72474521, 11355.65331919,  7301.78295222,  8856.2283679 ,
        8570.02427032, 11179.13590419, 10441.70687543, 15816.57277102,
        8341.39521292,  9203.76335647, 11192.81931194, 11060.04905742,
        8932.57972597, 13204.13054306,  9725.53354507, 18742.71200645,
       11179.73686298, 15446.34604884, 15147.63508408,  7973.80335729,
        8985.30984745, 12610.24213485,  8114.94589682, 13406.61561913,
        8141.10973735,  7719.19037399,  8260.83041456, 12131.57629121,
        9473.90308005, 12935.98716474, 10361.41274552,  9579.45686724,
       16389.62792281, 10624.85402192,  9871.20231308, 10479.19271072,
       12226.69329117, 11280.93088361, 13556.01844362,  8411.75424854,
        9269.29792492,  7674.47047072,  6204.81896014,  8361.60498879,
        9761.75750036, 10981.23095504,  9296.69465544,  7568.80793716,
        6379.42869044, 11125.87550942, 10519.73089327, 10931.52717012,
        7086.30859685,  7309.25853427,  9951.74385469, 17789.46139026,
        9531.22489065,  7853.44823642,  6967.69284528,  9034.37281073,
       15831.81762447, 16765.49060083, 10707.77684501, 10151.32100508,
       10847.80456581,  9207.80300241,  9251.93349595, 11199.56886737,
       10187.13047299, 10184.72231657,  7118.54588942, 11596.58539347,
        8081.67418324,  9402.14441467,  7481.93504847, 11677.63836581,
        8402.30090957, 10531.44371379, 10432.55127105, 10137.74951272,
       17108.85281277,  6744.74351996, 15844.9217256 ,  7697.87406135,
       13106.93039772,  7589.54000121, 12143.8099386 ,  9734.87980477,
       26553.93022509,  8067.56623964,  9390.20270832,  8389.49181183,
       13701.06990955, 13093.84604064, 10183.34157298,  8651.45604335,
       13933.90564044, 18720.06963237, 13035.98056506,  9704.07022793,
       20087.16019283,  9704.3533533 ,  9369.980032  ,  9958.94287886,
       10050.6952146 ,  9527.47672116,  8798.48662866, 10509.38017271,
        8534.95497077,  5611.56794568, 10555.6088919 , 10736.86413607,
        6878.78859524,  9989.01519513, 13239.60469835, 10912.20275459,
       12776.50439084,  7157.7323389 ,  6249.29042746, 10621.06570545,
        6818.34504844, 12556.38015829, 13192.24820743,  5228.24136101,
        8916.47019175,  8135.15049022, 13091.81387338, 15391.91627915,
        6903.17555613, 13381.7275846 ,  8265.09904457,  7456.60319686,
        8585.1444741 ,  8082.99555761,  6428.72075557, 24490.15313827,
       22260.98376984, 10231.26507425,  7343.98412647, 18696.881548  ,
        8252.56647612, 13430.30247069, 11018.89207546, 10734.39113503])}

        feature         coef
0           Age -2252.726439
8        Weight  1149.762500
1            KM  -634.232429
10  Fuel_Petrol   307.034044
2            HP   252.300211
7         Gears    69.894602
3     Automatic     2.239938
6     Cylinders     0.000000
5         Doors    -0.000000
4            CC    -0.000000

        feature         coef
0           Age -2070.198371
8        Weight  1153.251521
1            KM  -719.773798
2            HP   286.765510
10  Fuel_Petrol   236.631820
7         Gears   111.814708
3     Automatic    42.850483
9   Fuel_Diesel   -26.680445
5         Doors     1.605719
4            CC    -0.615800

# Conclusion 

 The Multiple Linear Regression model built for predicting Toyota Corolla prices performed well, with the full-feature model achieving an RÂ² of ~0.87, explaining most of the price variation. Key predictors were Age, KM, HP, Weight, and Fuel_Petrol, showing that newer, more powerful, and heavier cars generally have higher prices. The weakest feature based on p-value was Fuel_Diesel, and removing it (Model 2) did not reduce performance, confirming it has minimal impact. Regularization models (Lasso/Ridge) also performed strongly and handled multicollinearity better. Overall, the analysis shows that the model is reliable, interpretable, and effective for predicting Toyota Corolla prices.

# Interview Questions & Answers

**1. Normalization & Standardization:**

- Normalization rescales features to a fixed range (e.g., [0,1]). Useful for distance-based algorithms and when bounded inputs are desired.
- Standardization rescales features to mean 0 and std 1. Preferred for regularized linear models (Lasso/Ridge) because optimization behaves better and coefficients are comparable.

**2. Techniques for multicollinearity:**

- Detect with VIF or correlation matrix.
- Drop or combine correlated variables.
- Use PCA to generate orthogonal components.
- Use regularization (Ridge/Lasso) to reduce instability.